<footer class="site-footer">
  <p class="site-info">
    Proudly powered by <a href="//hexo.io/" target="_blank">Hexo</a> and
    Theme by <a href="//github.com/CodeDaraW/Hacker" target="_blank">Hacker</a>
    </br>
    <% if (config.author) { %>
    &copy; <%= new Date().getFullYear() %> <%= config.author %>
    <% } else { %>
    &copy; <%= new Date().getFullYear() %> <%= config.title %>
    <% } %>
    <% if (config.icp) { %>
    </br> <a href="//www.miitbeian.gov.cn/" target="_blank"><%= config.icp %></a>
    <% } %>
  </p>
</footer>
